body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: berry;
    src: url(fonts/Berry_Merry.otf);
}

@font-face {
    font-family: love;
    src: url(fonts/LoveCrush-ZVn8Z.ttf) format('truetype');
}

@font-face {
	font-family: NotoSerifKR_R;
	src: url(fonts/NotoSerifKR-Regular.otf)
}

@font-face {
	font-family: NotoSerifKR_L;
	src: url(fonts/NotoSerifKR-Light.otf)
}

.icon {
	position: fixed;
    right: 0;
}

.icon_cgi {
	position: fixed;
	right: 0;
	margin-top: 120px;
}

.paint {
	position: fixed;
	right: 0;
	margin-top: 240px;
}

.house {
	position: fixed;
	right: 0;
	margin-top: 360px;
}

.danse {
	position: fixed;
	right: 0;
	margin-top: 480px;
	margin-right: 10px;
}

h1 {
    color:#FFC4C4;
    font-family: love;
	text-align: center;
}

h3 {
	color:#FFC4C4;
	font-family: NotoSerifKR_L;
	font-size: 75%;
	margin-top: 100px;
	text-align: center;
}

.hamster {
    text-align: center;
}

.form_container {
	margin-bottom: 15px;
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	color: white;
}

legend {
	padding: 10px 3px;
	font-family: NotoSerifKR_R;
	font-weight: bold;
	font-variant: small-caps;
	text-align: left;
}

label {
	width: 500px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
	font-family: NotoSerifKR_L;
}

input::placeholder {
	font-family: NotoSerifKR_L;
	font-style: italic;
	font-size: 90%;
}

.bouton {
	margin: 10px;
	background-color:#FFF5E4;
	color: black;
	text-align: center;
	font-family: berry;
	font-size: 150%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
