body {
    margin: 0;
    padding: 0;
}

.background {
	background: url(img/hamster_caddie.png) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face {
	font-family: berry;
	src: url(fonts/Berry_Merry.otf);
}
@font-face {
    font-family: fredoka;
    src: url(fonts/FredokaOne-Regular.ttf) format('truetype');
}

@font-face {
	font-family: NotoSerifKR_R;
	src: url(fonts/NotoSerifKR-Bold.otf);
}

@font-face {
	font-family: NotoSerifKR_L;
	src: url(fonts/NotoSerifKR-Light.otf);
}

@font-face {
	font-family: laila;
	src: url(fonts/Laila-Medium.ttf);
}

.icon {
	position: fixed;
	right: 0;
}

.house {
	position: fixed;
	right: 0;
	margin-top: 120px;
}

.paint {
	position: fixed;
	right: 0;
	margin-top: 240px;
}

.danse {
	position: fixed;
	right: 0;
	margin-top: 360px;
	margin-right: 10px;
}

h1 {
    color: red;
    font-family: fredoka;
	font-size: 350%;
	margin-left: 100px;
	margin-bottom: 0;
}

.cgi {
    color: red;
    font-family: fredoka;
	font-style: italic;
	font-size: 200%;
	margin-left: 575px;
	margin-top: 0;
}

.name {
	margin-left: 175px;
	font-family: laila;
}

.hamster {
	margin-left: 175px;
	font-family: laila;
}

.color {
	margin-left: 175px;
	font-family: laila;
}

.requete {
	margin-top: 50px;
	margin-bottom: 15px;
	font-family: NotoSerifKR_L;
	font-size: 150%;
}

.happy {
	margin-bottom: 15px;
	font-family: NotoSerifKR_R;
	font-size: 150%;
}

.bouton {
	margin: 10px;
	margin-left: 150px;
	background-color: red;
	color: white;
	text-align: center;
	font-family: berry;
	font-size: 150%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
